/*
 * Feladat: JSnnn HTML lapok közös stíluslapja
 * Készült: 2017.12.06
 * Készítő: zavorszky@yahoo.com */
body
  {font-family: Arial, Helvetica, sans-serif;
  line-height: 130%;
  color: black;
  background-color: darkseagreen}

nav ul li
  {display:inline;
  list-style:none}

footer
  {font-size: small}
  
dt
  {font-weight: bold}

section footer
  {font-size: small;
  border-left-style: solid;
  margin-left: 10px;
  padding-left: 5px}
  
article footer
  {font-size: small;
  border-left-style: solid;
  margin-left: 10px;
  padding-left: 5px}

table
  {border-collapse:collapse;
  border:2px solid black;}

tr, th, td
  {border:1px solid black;
  padding:2px }

tfoot
  {font-size: small}
  
.z9_TablaFelsoMargoval
  {margin-top: 15px}

.z9_TdIgen
  {text-align: center;
  background-color: lime;
  color: black}

.z9_TdNem
  {text-align: center;
  background-color: red;
  color: black}
  
.z9_TdX
  {text-align: center;
  background-color: yellow;
  color: black}
  
.z9_TdKozosSzoveg
  {text-align: center;}

/*
 * Az Internet explorer 11.726.15063.0 nem emeli ki (jelöli meg) a képernyőn
 * az abbr elemmel megadott rövidítéseset. Azért, hogy hasonlók legyenek a HTML
 * dokumentum képek, beállítok egy CSS tulajdonságot. */
abbr
  {background: silver}

strong
  {color: red}

section.z9_BelsoTartalomjegyzek ul li
  {display:inline;
  list-style:none}
  
section article p.z9_MagyarazoResz
  {margin-left: 10px;
  padding-left: 5px}
  
.z9_Kod, .z9_Eredmeny
  {color: blue}

.z9_Elhagy
  {display: none}

.z9_Jegyzet
  {font-family: 'Comic Sans MS', cursive}
