/*
 * Állomány név: JS002A4
 * Készült: 2018.01.28
 * Készítő: zavorszky@yahoo.com
 */
body
  {font-family: Arial, Helvetica, sans-serif;
  line-height: 130%;
  color: black;
  background-color: white}

#id_bal_feny {
  width: 50px;
  height: 50px;
  border-top: 2px solid ;
  border-bottom: 2px solid;
  border-left: 2px solid;
  float: left;
}

#id_jobb_feny {
  width: 50px;
  height: 50px;
  border-top: 2px solid ;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  float: left; 
}

#id_kijelzo {
  display: block;
  width: 102px;
  height: 50px;
  line-height: 3em;
  text-align: center;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  clear: left;
}

#id_gomb_startstop {
  display: block;
  width: 106px;
  height: 50px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
}